absl-py
asgiref
attrs
cffi
contourpy
cycler
Django
flatbuffers
fonttools
jax
jaxlib
joblib
kiwisolver
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pillow
protobuf
pycparser
pyparsing
python-dateutil
scikit-learn
scipy
sentencepiece
six
sounddevice
sqlparse
threadpoolctl
typing_extensions
